#pin_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.PinActionBar
				.PinLike
					= link_to like_pin_path(@pin), method: :put, class: 'btn btn-primary' do
						%span.glyphicon.glyphicon-heart
						%b
							Like
					%h5.pull-right
						%span.glyphicon.glyphicon-heart
						%b
							= @pin.get_upvotes.size
			.panel-heading.pin_image
				= image_tag @pin.image.url
			.panel-body
				%p.description
					= @pin.description
			.panel-footer
				.row
					.col-md-6.text-left
						= image_tag (@pin.user.avatar.url(:thumb)), { :class => "oNavAvatar" }
						Submitted by
						%b
							= @pin.user.name
						= time_ago_in_words(@pin.created_at)
						ago
					- if @pin.user == current_user
						.col-md-6.text-right
							= link_to "Edit", edit_pin_path
							= link_to "Delete", pin_path, method: :delete, data: { confirm: "You sure?" }