.user-avatar
	= image_tag(@user.avatar.url(:thumb))
%hr
%h1
	= @user.name
%p.text-center
	= link_to "View pins", pins_path, class: "btn btn-xs btn-primary"
%p.text-center
	= @user.website
%p.text-center
	= @user.about